*.tex linguist-detectable=false
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.clj linguist-detectable=false
*.java linguist-detectable=false
*.sh linguist-detectable=false
*.py linguist-detectable=false
*.vim linguist-detectable=false

