*.tex linguist-detectable=false
*.xml linguist-detectable=false
*.sh linguist-detectable=false
*.jar linguist-detectable=false
*.asm linguist-detectable=false
*.s linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.cpp linguist-detectable=false
*.hpp linguist-detectable=false
*.l linguist-detectable=false
*.y linguist-detectable=false
*.txt linguist-detectable=false
*.cs linguist-detectable=false
*.clj linguist-detectable=false
*.vim linguist-detectable=false
*.el linguist-detectable=false
*.vmb linguist-detectable=false
*.gradle linguist-detectable=false
*.sml linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.idr linguist-detectable=false
*.java linguist-detectable=false
*.js linguist-detectable=false
*.ml linguist-detectable=false
*.pl linguist-detectable=false
*.php linguist-detectable=false
*.py linguist-detectable=false
*.rmd linguist-detectable=false
*.rb linguist-detectable=false
*.scala linguist-detectable=false
*.scm linguist-detectable=false
*.sed linguist-detectable=false
*.sed linguist-detectable=false
