body {
  font-family: Arial, Verdana, sans-serif;  /* inherited by children */
  color: #665544;                           /* inherited by children */
  padding: 10px;                            /* not inherited */
}
.page { /* class selector */
  border: 1px solid #665544;                /* not inherited */
  background-color: #efefef;                /* not inherited */
  padding:  inherit;                       
}
